.App{
  margin-top: 0%;
  text-align: center;
  background-color: #F2AC29;
}

.App-header {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid rgb(255, 231, 12);
}



.navBar {
 
				margin-top: 0;
				padding: 0;
				width: 100%;
				height: auto;
        font-family: 'Bangers', cursive;
				font-size: 20px;
       
}

.init{
  margin-right: 10%;
}

.fin{
  margin-left: 30%;
   height: auto;
  
}

.Carrito{
  color: aqua;
 background-color: blue;
 border-radius: 75px;

}
